@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Nunito+Sans:wght@300;400&family=Playfair+Display:wght@400;500;600&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.arabic {
  font-family: 'Amiri' ,serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #252b38;
  }
}
